@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Rubik');

$primaryColor: #59648B;
$primaryColorDark: #4F5988;
$secondaryColor: #d7ff5e;
$secondaryColorDark: #c5e85c;

$width-s: 640px;
$width-m: 960px;
$width-l: 1200px;
$width-xl: 1600px;

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
}

.swiper-container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  @media screen and (max-width: $width-m) {
    height: 160px;
  }
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#carousel-section {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 16px;
  color: #33383C;

  p {
    margin-bottom: 22px;
  }

  @media screen and (max-width: $width-m) {
    padding-bottom: 0px;
  }
}

#carousel-text {
  height: 64px;
  padding-top: 22px;
  background-color: #fff;
  text-align: center;
  
  p {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;

    text-decoration: underline;
    -webkit-text-decoration-color: $secondaryColorDark;
    text-decoration-color: $secondaryColorDark;

    @media screen and (max-width: $width-m) {
      font-size: 26px;
      padding-top: 26px;
    }
  }
}

#carouselBlock {
  height: 100%;
  width: 70%;
  background-color: #fff;
  margin-top: 16px;
  margin-bottom: 6px;
}

#three-container {
  background-color: #5A5D8D;
  background-image: url('../assets/img/bgMainSmall.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-position: 0px -100px;
  
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // min-height: 500px;
  text-align: center;
  position:relative;
}

#logo {
  //display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  //top: 16px;
  //left: -174px;
  //z-index: 10;
  //max-width: 100%;
  //max-height: 100%;
  top: 0px;
  z-index: 10;
}

/* Change the color of links on hover */
.topnav a:hover {
   // background-color: #ddd;
   // color: black;
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.dummy-section {
  height: 600px;
  background-color: rebeccapurple;
}

#offcanvas-panel {
  background-color: $primaryColorDark;
  color: white;
  font-family: 'Rubik';
  width: 50%;

  @media screen and (max-width: $width-m) {
    width: 64%;
  }

  @media screen and (max-width: $width-s) {
    width: 80%;
  }
}

#navbar {
  border-left: 8vw solid $secondaryColorDark;
  background-color: $primaryColor;
  border-bottom: $secondaryColor 1px solid;
  height: 80px;

  @media screen and (max-width: $width-s) {
    border-left: 0vw solid $secondaryColorDark;
  }

  li a, router-link {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    flex: 1 1 auto;
    position: relative;
    color: #fff !important;

    transition: .4s;

    &:after {
      background-color: $secondaryColor;
      color: #fff;
      position: absolute;
      transition: .4s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 4px;
      opacity: 0.0;
    }

    &:hover {
      background-color: $secondaryColor;
      color: $primaryColor !important;
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
        opacity: 1.0;
      }
    }
  }

  li.uk-active a, router-link {
    color: $secondaryColor;
  }
}

#logoBackground {
  position: relative;
  background-color: $secondaryColorDark;
  z-index: 1;
  width: 290px;
  height: 80px;
}

.swiper-logo {
  width: 60px;
  height: 40px;
}

#main-left {
  z-index: 100;
  width: 55vw;
  overflow: hidden;

  @media screen and (max-width: 960px) {
    width: 100vw;
    height: calc(100vh - 80px);
  }
}

#main-right {
  background-color: #5A5D8D;
  width: 43vw;

  @media screen and (max-width: 960px) {
    width: 100vw;
  }
}

#stock1 {
  width: 40vw;
  background-color: $secondaryColor;
}

#main-text1 {
  padding: 15px 50px;
  background: #fff;
  margin-top: 25vh;
  
  h1 {
    color: $primaryColorDark;
    font-size: 4vw;
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media screen and (max-width: 960px) {
    margin-top: 32vh;
    
    h1 {
      font-size: 8vw;
    }
  }
}

#main-text2 {
  padding: 15px;
  margin-top: 2vh;
  margin-left: 100px;
  margin-right: 100px;
  
  h1 {
    color: white;
    font-size: 4vw;
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media screen and (max-width: 960px) {
    padding-bottom: 0;
    margin-bottom: 8vh;

    h1 {
      font-size: 8vw;
    }
  }
}

#main-text1::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#main-right-btn {
  background-color: $primaryColor;
  font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 30px 0px;
}

.float {
  float: left;
}

.clear {
  clear: both;
}

#our-offer-cards {
  padding-left: 18vw;
  padding-right: 18vw;
  padding-bottom: 120px;
  padding-top: 200px;
  background-color: ghostwhite;

  p {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 1rem;
  }

  @media screen and (max-width: $width-m) {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  @media screen and (max-width: $width-l) {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  @media screen and (max-width: $width-xl) {
    padding-left: 14vw;
    padding-right: 14vw;
  }

  @media screen and (min-width: $width-m) {
    p {
      font-size: 18px;
    }
  }
}

.our-offer-card {
  background-color: ghostwhite;
}

#our-offer-text {
  padding-top: 15px;
  padding-bottom: 15px;
  //background-image: url('../assets/img/blurBgBar.png');
  background-color: #2488b7;
  //background-color: $secondaryColorDark;

  h1 {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    color: #fff;
  }
}

#our-offer-left {
  padding: 0;
}

#our-offer-right {
  padding: 0;
  margin-top: 250px;
}

#our-offer-left, #our-offer-right {
  h3 {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #000000;
  }

  p {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: light;
    line-height: normal;
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
}

.our-offer-card {
  margin-top: 100px;
  //-webkit-box-shadow: none;
	//-moz-box-shadow: none;
	//box-shadow: none;
}

#about-us-section {
  
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding: 40px;

  @media screen and (max-width: $width-m) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @media screen and (min-width: $width-xl) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.about-us-card {
  background-color: #FAFAFA;
  margin-top: 0 !important;
}

.about-us-card:not(:first-child) {
  margin-top: 30px;
}

.about-us-card-head {
  @media screen and (max-width: $width-m) {
    height: 30vh;
  }

  img {
    min-height: 100%;
  }
}

.about-us-card-body {
  margin-top: 4%;
  font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 60%;

  @media screen and (max-width: $width-s) {
    width: 94%;
    height: 80%;
  }
  
  @media screen and (max-width: $width-m) {
    width: 75%;
    height: 80%;
  }

  @media screen and (min-width: $width-m) {
    margin-top: 5%;
    height: 80%;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #000;

    @media screen and (max-width: 440px) {
      font-size: 8vw;
      margin-top: 8%;
    }
  }

  p {
    margin-top: 8%;
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);

    @media screen and (min-width: 1500px) {
      margin-top: 3vw;
    }
  }
}

.about-us-card-button {
  //margin-top: 5%;
  //margin-bottom: 6%;
  padding: 1.0vh 2.2vw;
  margin-top: 2vh;
  margin-bottom: 3vh;

  //@media screen and (max-width: 1440px) {
  //  padding: 1.0vh 3.2vw;
  //}

  @media screen and (max-width: 960px) {
    padding: 1.0vh 5.0vw;
  }

  @media screen and (min-width: 1600px) {
    margin-top: 8%;
  }
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 640px) {
  #carousel-section {
    font-size: 14px;
  }
}

.about-us-card-whole:not(:first-child) {
  margin-top: 40px;
}

.swiper-class {
  overflow: hidden;
  background-color: $primaryColorDark;

  img {
    width:100%;
    height:100%;

    display: block;
  }
}

.first-item {
  .overlay {
    background-color: #c9f24f;
  }
}

.second-item {
  .overlay {
    background-color: #fff359;
  }
   .text {
    color: black;
   }
}

.third-item {
  .overlay {
    background-color: #ff7291;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease-out;
}

.swiper-slide:hover .overlay {
  opacity: 0.9;
}

.swiper-slide:hover .text {
  opacity: 1.0;
}

.text {
  color: #fff;
  opacity: 0.0;
  font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 6vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .2s ease-out;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#menu-toggle {
  display: none;
  position: absolute;
  background-color: $secondaryColorDark;
  width: 80px;
  height: 100%;
  top: 0;
  z-index: 100;

  @media screen and (max-width: 470px) {
    top: 80px;
    background-color: $secondaryColorDark;
  }
}

#social-media-section {
  height: 100%;
  background-color: #2c3355;
  padding: 20px 5vw;
  margin: 0;
  border-top: 1px solid $primaryColorDark;
  border-bottom: 1px solid $primaryColorDark;
}

#social-media-icons {
  width: 30%;

  @media screen and (max-width: $width-xl) {
    width: 40%;
  }

  @media screen and (max-width: $width-l) {
    width: 50%;
  }

  @media screen and (max-width: $width-m) {
    width: 70%;
  }

  @media screen and (max-width: $width-s) {
    width: 80%;
  }
}

.social-media-icon {
  img {
    width: 38px;
    height: 38px;
  }
}

footer {
  background-color: #2c3355;
  width: auto;
  padding: 0 30vw;
  margin: 0;

  @media screen and (max-width: $width-m) {
    padding: 0 20vw;
  }

  @media screen and (max-width: $width-s) {
    padding: 0 10vw;
  }
}

#footer {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  background-color: #2c3355;

  h3 {
    color: $secondaryColorDark;
    font-family: 'Rubik';
    font-size: 16px;
  }

  a, a:hover {
    color: white;
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
}

#footer-copyright-info {
  width: 100%;
  padding: 10px 0px;
  background-color: #2c3355;

  p {
    font-family: 'Rubik', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: whitesmoke;
    font-family: 'Rubik';
    font-size: 14px;
    margin-bottom: 12px;
    line-height: normal;
  }
}